name: tautulli

services:
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config:/config
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.tautulli.entrypoints=websecure"

      # Router
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.battistella.ovh`)"

      # Service
      - "traefik.http.services.tautulli.loadBalancer.server.port=8181"

      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      lan:

networks:
  lan:
    external: true
