name: vaultwarden

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    user: "1000:1000"
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
    environment:
      - DOMAIN=https://vaultwarden.battistella.ovh
      - EXPERIMENTAL_CLIENT_FEATURE_FLAGS=ssh-key-vault-item,ssh-agent
      - SIGNUPS_ALLOWED=false
      - SHOW_PASSWORD_HINT=false
      - IP_HEADER=X-Forwarded-For
      - LOG_LEVEL=warn
    volumes:
      - ./data:/data/
    healthcheck:
      test: ["CMD", "/healthcheck.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.vaultwarden.entrypoints=websecure"

      # Router
      - "traefik.http.routers.vaultwarden.rule=Host(`vaultwarden.battistella.ovh`)"

      # Service
      - "traefik.http.services.vaultwarden.loadBalancer.server.port=80"

      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      lan:

networks:
  lan:
    external: true
