name: sonarr

services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./data:/config
      - /mnt/tv-shows:/tv
      - /mnt/downloads:/downloads
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.sonarr.entrypoints=websecure"

      # Router
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.battistella.ovh`)"

      # Service
      - "traefik.http.services.sonarr.loadBalancer.server.port=8989"

      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      lan:

networks:
  lan:
    external: true
