services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    env_file:
      - .env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - HOMEPAGE_ALLOWED_HOSTS=homepage.battistella.ovh
    volumes:
      - ./config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
    restart: unless-stopped
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.homepage.entrypoints=websecure"

      # Router
      - "traefik.http.routers.homepage.rule=Host(`homepage.battistella.ovh`)"

      # Service
      - "traefik.http.services.homepage.loadBalancer.server.port=3000"

      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

    networks:
      lan:

networks:
  lan:
    external: true
