services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - HOMEPAGE_ALLOWED_HOSTS=homepage.${DOMAIN}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    volumes:
      - ./config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.homepage.entrypoints=websecure"

      # Router
      - "traefik.http.routers.homepage.rule=Host(`homepage.${DOMAIN}`)"

      # Service
      - "traefik.http.services.homepage.loadBalancer.server.port=3000"

      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

    networks:
      lan:

networks:
  lan:
    external: true
