name: infisical

services:
  backend:
    container_name: infisical-backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    image: infisical/infisical:latest-postgres
    pull_policy: always
    deploy:
      resources:
        limits:
          memory: 1G
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    env_file: .env
    environment:
      - NODE_ENV=production
    networks:
      - lan
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.infisical.entrypoints=websecure"

      # Router
      - "traefik.http.routers.infisical.rule=Host(`infisical.${DOMAIN}`)"

      # Service
      - "traefik.http.services.infisical.loadBalancer.server.port=8080"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

  redis:
    image: redis:7-alpine
    container_name: infisical-redis
    restart: always
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - lan
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    container_name: infisical-db
    image: postgres:14-alpine
    restart: always
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - lan
    healthcheck:
      test: "pg_isready --username=${POSTGRES_USER} && psql --username=${POSTGRES_USER} --list"
      interval: 5s
      timeout: 10s
      retries: 10

volumes:
  pg_data:
    driver: local
  redis_data:
    driver: local

networks:
  lan:
    external: true
