
services:
  backend:
    container_name: infisical-backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    image: infisical/infisical:latest-postgres
    pull_policy: always
    env_file: .env
    environment:
      - NODE_ENV=production
    networks:
      - lan
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.infisical.entrypoints=websecure"

      # Router
      - "traefik.http.routers.infisical.rule=Host(`infisical.battistella.ovh`)"

      # Service
      - "traefik.http.services.infisical.loadBalancer.server.port=8080"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

  redis:
    image: redis
    container_name: infisical-dev-redis
    env_file: .env
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379
    networks:
      - lan
    volumes:
      - redis_data:/data

  db:
    container_name: infisical-db
    image: postgres:14-alpine
    restart: always
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - lan
    healthcheck:
      test: "pg_isready --username=${POSTGRES_USER} && psql --username=${POSTGRES_USER} --list"
      interval: 5s
      timeout: 10s
      retries: 10

volumes:
  pg_data:
    driver: local
  redis_data:
    driver: local

networks:
  lan:
    external: true
