name: resume

services:
  resume:
    image: wifsimster/resume:latest
    container_name: resume
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 128M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      disable: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.resume.entrypoints=websecure"

      # Router
      - "traefik.http.routers.resume.rule=Host(`cv.${DOMAIN}`)"

      # Service
      - "traefik.http.services.resume.loadBalancer.server.port=80"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

    networks:
      lan:

networks:
  lan:
    external: true

