name: birthday-invitation

services:
  birthday-invitation:
    image: wifsimster/birthday-invitation:latest
    container_name: birthday-invitation
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - NODE_ENV=production
      - BIRTHDAY_PERSON=${BIRTHDAY_PERSON}
      - BIRTHDAY_AGE=${BIRTHDAY_AGE}
      - EVENT_DATE=${EVENT_DATE}
      - EVENT_TIME=${EVENT_TIME}
      - EVENT_TOWN=${EVENT_TOWN}
      - EVENT_LOCATION=${EVENT_LOCATION}
      - DRESS_CODE=${DRESS_CODE}
      - DB_PATH=/app/data/rsvp.db
    volumes:
      - birthday_db:/app/data
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.birthday-invitation.entrypoints=websecure"

      # Router
      - "traefik.http.routers.birthday-invitation.rule=Host(`leo-birthday.${DOMAIN}`)"

      # Service
      - "traefik.http.services.birthday-invitation.loadBalancer.server.port=3000"

      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      lan:


volumes:
  birthday_db:
    driver: local

networks:
  lan:
    external: true
