name: personal-blog

services:
  personal-blog:
    image: wifsimster/wifsimster-blog:latest
    container_name: personal-blog
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 128M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      disable: true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.personal-blog.entrypoints=websecure"

      # Router
      - "traefik.http.routers.personal-blog.rule=Host(`blog.${DOMAIN}`)"

      # Service
      - "traefik.http.services.personal-blog.loadBalancer.server.port=80"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

    networks:
      lan:

networks:
  lan:
    external: true
