name: dozzle

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.dozzle.entrypoints=websecure"

      # Router
      - "traefik.http.routers.dozzle.rule=Host(`dozzle.${DOMAIN}`)"

      # Service
      - "traefik.http.services.dozzle.loadBalancer.server.port=8080"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

    networks:
      lan:
      
networks:
  lan:
    external: true
