name: netdata

services:
  netdata:
    image: netdata/netdata
    container_name: netdata
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
      - no-new-privileges:true
    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /:/host/root:ro,rslave
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/localtime:/etc/localtime:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./health_alarm_notify.conf:/etc/netdata/health_alarm_notify.conf:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:19999/api/v1/info"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.netdata.entrypoints=websecure"

      # Router
      - "traefik.http.routers.netdata.rule=Host(`netdata.${DOMAIN}`)"

      # Service
      - "traefik.http.services.netdata.loadBalancer.server.port=19999"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true
    networks:
      lan:

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:

networks:
  lan:
    external: true