name: Unifi Controller
services:
  unifi:
    image: jacobalberty/unifi:v10.0
    container_name: unifi
    restart: unless-stopped
    init: true
    user: unifi
    healthcheck:
      test: ["CMD-SHELL", "curl --max-time 5 -kILs --fail https://localhost:8443"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 120s
    ports:
      - 3478:3478/udp # STUN
      - 5514:5514/udp # Remote logging
      - 6789:6789/tcp # Speed test
      - 8080:8080/tcp # Device communication
      - 8443:8443/tcp # Controller GUI/API
      - 10001:10001/udp # AP discovery
      - 1900:1900/udp # L2 discovery
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - /opt/docker/unifi:/unifi
    labels:
      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      lan:
      
networks:
  lan:
    external: true

