name: memos

services:
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    restart: unless-stopped
    ports:
      - "5230:5230"
    volumes:
      - ~/.memos:/var/opt/memos
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.memos.entrypoints=websecure"

      # Router
      - "traefik.http.routers.memos.rule=Host(`memos.battistella.ovh`)"

      # Service
      - "traefik.http.services.memos.loadBalancer.server.port=5230"
      
      # Watchtower automatic update
      - com.centurylinklabs.watchtower.enable=true

    networks:
      lan:

networks:
  lan:
    external: true
