name: techney

services:
  techney:
    image: wifsimster/techney:latest
    container_name: techney
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.techney.entrypoints=websecure"

      # Router
      - "traefik.http.routers.techney.rule=Host(`techney.${DOMAIN}`)"

      # Service
      - "traefik.http.services.techney.loadBalancer.server.port=3000"
      
      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      - lan

networks:
  lan:
    external: true

