name: beszel

services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 256M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - beszel_data:/beszel_data
    healthcheck:
      test: ["CMD", "/beszel", "health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.beszel.entrypoints=websecure"

      # Router
      - "traefik.http.routers.beszel.rule=Host(`beszel.${DOMAIN}`)"

      # Service
      - "traefik.http.services.beszel.loadBalancer.server.port=8090"

      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      lan:

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    deploy:
      resources:
        limits:
          memory: 128M
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PORT: 45876
      KEY: "${BESZEL_AGENT_KEY}"
    labels:
      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

volumes:
  beszel_data:
    driver: local

networks:
  lan:
    external: true
