name: wakapi

services:
  wakapi:
    image: ghcr.io/muety/wakapi:latest
    container_name: wakapi
    restart: unless-stopped
    environment:
      - WAKAPI_PASSWORD_SALT=${WAKAPI_PASSWORD_SALT}
      - WAKAPI_PUBLIC_URL=https://wakapi.battistella.ovh
      - WAKAPI_ALLOW_SIGNUP=false
    volumes:
      - ./data:/data
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/api/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
    labels:
      - "traefik.enable=true"

      # Entrypoint
      - "traefik.http.routers.wakapi.entrypoints=websecure"

      # Router
      - "traefik.http.routers.wakapi.rule=Host(`wakapi.battistella.ovh`)"

      # Service
      - "traefik.http.services.wakapi.loadBalancer.server.port=3000"

      # Watchtower automatic update
      - "com.centurylinklabs.watchtower.enable=true"

    networks:
      lan:

networks:
  lan:
    external: true
